{
  "parser": "babel-eslint",
  "rules": {
    "no-console": 0
  },
  "env": {
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "sky/base"
}
