sudo: false
language: node_js
node_js:
  - stable
before_script:
  - npm install
  - npm test
  - npm run lint
after_success:
  - npm install codecov
  - ./node_modules/.bin/codecov
notifications:
  slack: about-hiroppy:rzKYJ3zRPzBaak3TeaTmPSH5
