.container {
  border-radius: 10px;
  margin: auto;
  width: 200px;
  composes: container from '../../common.css';
}

.title {
  color: #3498db;
  font-size: 3rem;
  margin-top: 150px;
  text-align: center;
}
