$text-color: #3498db;

.container {
  border-radius: 10px;
  display: flex;
  margin: auto;
  height: 50vh;
  justify-content: center;
  align-items: center;
  composes: container from '../../common.css';
}

.title {
  color: $text-color;
  font-size: 3rem;
  margin: 0;
  text-align: center;
}
